<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="assets/app.css" type="text/css">
    <script src="assets/app.js"></script>
  </head>
  <body>
    <div>
    <header>
      <h1> Editor<span>X</span></h1>
      <% if current_user %>
      <form id="change_post">
        <a id="new_post" href="#"> new post </a>
        <select id="posts">
          <option></option>
        </select>
      </form>
      <% end %>
    </header>
    <% if current_user %>
      <div id="editorx">
      </div>
    <% else %>
      <a id="login" href="/auth/tumblr"> Use Tumblr </a>
      <a id="login" href="/auth/evernote"> Use Evernote </a>
    <% end %>
    </div>
  </body>
</html>
